@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /*  height: 100%; */
}

html, body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.profile-img {
  mask-image: linear-gradient(to top, transparent 10%, rgb(0, 0, 0) 40%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}